@charset "utf-8";
/* CSS Document */

:root {
	--black: #2C2C2C;
	--yellow: #FCF06E;
}

html{
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.6;
}

a{
	text-decoration: none;
}

body{
	margin: 0;
}

h1{
	display: flex;
	justify-content: center;
	font-size: 6em;
	color: var(--black);
	margin: 0.5em 0;
}

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.5em 2em;
}

.about-text-section{
	width: 35%;
	height: auto;
	margin-right: 4em;
}

#box-right{
	width: 35%;
	height: auto;
	background: red;
	margin-left: 4em;
	
}

#box-right-one{
	width: 75%;
	height: 55%;
	background: var(--black);
	float: right;
}

#box-right-two{
	width: 50%;
	height: 80%;
	background: var(--yellow);
	margin-top: 20%;
}
