/* Main Layout */
* {
    box-sizing: border-box;
}

:root {
    --yellow: #fae741;
    --dark: #040404;
    --light: #ffffff;
}

.simpleStore {
    margin-top: 20px;
}

/* Navigation */
/* Don't show on desktop */
#x, #togglemenu{
    display: none;
}

#nav-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

/* Navigation */
#nav-bar{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav{
    display: inline-flex;
    position: static;
    background-color: white;
    padding: 0;
    margin: 0;
}

nav button{
    padding: 1.5em 0;
    margin: 0;
}

.breadcrumb-item{
    color: var(--dark);
    font-size: 1.5em;
    margin-right: 2em;
    text-transform: uppercase;
    font-weight: 600;
}

nav a:hover{
    color: var(--yellow);
}

nav a:active{
    color: var(--yellow);
}

.brand {
    display: block;
    float: left;
    text-decoration: none;
    color: #000;
    padding: 1.5rem;
}

.brand:hover {
    color: #777;
}

.brand img {
	max-height: 75px;
}

.banner{
    display: flex;
    justify-content: center;
    margin: 5em;
    color: red;
}

select {
    display: block;
    float: left;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: black;
}
/* Intro template */
.intro_container{

}

.section1{
    position: relative;
    margin: 3em 0 0 0;
}

.company-name{
    font-size: 12em;
    font-weight: bold;
    color: var(--yellow);
    text-transform: uppercase;
    position: absolute;
    top: -50px;
    left: 80px;
    z-index: 10;
}

#img1{
    max-width: 60%;
    position: relative;
    z-index: 9;
    top: 60px;
}

#img2{
    max-width: 45%;
    position: absolute;
    top: -30px;
    right: 10px;
    z-index: 6;
}

.title-container{
    position: absolute;
}

#lady-png{
    width: 70%;
    height: 100%;
    z-index: 7;
}

.slogan-text{
    font-size: 3.5vw;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    z-index: 8;
}

.slogan-container{
    display: flex;
    position: absolute;
    top: 350px;
    left: 720px;
    z-index: 20;
}

.slogan-text-container {
    position: absolute;
    left: 160px;
    top: 150px;
    z-index: 22;
}

.section2{

}

.see-more{

}

.section2-title{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
}

/* simpleCart */
.simpleCart_shelfItem {
    border: 1px solid #EFEFEF;
    padding: 25px 18px 10px 18px;
    margin: 15px 0;
}

.simpleCart_items {
    display: table;
    border-collapse: collapse;
    width: 100%;
    min-height: 20px;
    margin-bottom: 50px;
}

.simpleCart_items div:first-child {
    width: 100%
}

.simpleCart_decrement, .simpleCart_increment {
    font-size: 18px;
    line-height: 5px;
    text-decoration: none;
}

.simpleCart_shelfItem label{
    display: block;
    float: left;
    line-height: 40px;
    margin-right: 10px;
}

.item_thumb, .detail_thumb {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

#details-btn{
    justify-content: flex-end;
    font-size: 11px;
}

#item_thumb_zoom:hover{
    cursor: pointer;
}

.item_Quantity {
    display: inline-block;
    width: 50px;
}

.old_price{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin-right: 1rem;
    text-decoration: line-through;
    text-decoration-color: red;
}

.item_price {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.item_description {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.product-detail-template-row{
    display: flex;
    align-items: center;
}


.headerRow {
    display: table-row;
    font-weight: 700;
    border-bottom: 1px solid #E1E1E1;
}

.headerRow div {
    display: table-cell;
    padding: 10px;
}

.itemRow.odd {
    background: #FAFAFA;
}

.itemRow {
    display: table-row;
    border-bottom: 1px solid #E1E1E1;
}

.itemRow:last-child {
    border-bottom: 0 solid #fff;
}

.itemRow div {
    display: table-cell;
    padding: 10px;
}

.itemRow .item-quantity {
    text-align: center;
}

/* Cart */

#shippingCountry {
    margin-left: 20px;
}

.cart_info {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 22px;
    text-align: right;
}

.cart_info div {
    display: inline;
}

.cart_info_item {
    display: block !important;
}

.cart_total {
    font-size: 20px;
}

#checkout-btn {
    width: fit-content;
    justify-self: flex-end;
    color: #FFF;
    background-color: #040404;
    font-size: 11px;
}

#checkout-btn:hover{
    color: var(--yellow);
}

/* Views */
.simpleStore_getDetail_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 100%;
    padding: 5px 0px;
}

.simpleStore_detailView {
    margin: 15px 0px;
    border: 1px solid #EFEFEF;
    position: relative;
}

.simpleStore_detailView.simpleCart_shelfItem {
    padding: 26px 18px 8px 18px;
}

.simpleStore_detailView .item_add {
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 12em;
}

.simpleStore_detailView .item_name {
	margin-bottom: 1rem;
}

.simpleStore_detailView .item_price {
    display: block;
    margin-bottom: 1.5rem;
}

.simpleStore_cart_container {
    display: none;
}

.simpleStore_shipping{
    display: flex;
    justify-items: center;
}

.simpleStore_cart {
    position: relative;
    border: 1px solid #EFEFEF;
    padding: 22px;
    min-height: 230px;
    margin: 15px 0px;
}

.simpleStore_price{
    display: flex;
}

.item_shipping {
    margin-left: 1rem;
}

a.simpleCart_empty {
    color: #CDCDCD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

a.simpleCart_empty:hover {
    color: #777;
}

.simpleCart_checkout {
    margin: 12px 0px 0px 0px;
}


/* Utility */

.hidden {
    display: none;
}

.loader {
	display: inline-block;
    font-size: 60px;
    line-height: 50px;
    color: #ddd;
    margin: 120px auto;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

a.back {
    position: absolute;
    top: 10px;
    left: 18px;
    line-height: 0px;
    margin: 0;
    padding: 0;
    font-size: 34px;
    color: #CDCDCD;
    text-decoration: none;
}

a.back:hover {
    color: #777;
}

a.close {
    position: absolute;
    top: 18px;
    right: 14px;
    margin: 0;
    line-height: 0px;
    padding: 0;
    font-size: 32px;
    color: #CDCDCD;
    text-decoration: none;
    font-family: Garamond, "Apple Garamond";
}

a.close:hover {
    color: #777;
}

.chevron::before {
	border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
    left: 0.25em;
	transform: rotate(-135deg);
}

.error {
	background: #FFE5E5;
	padding: 15px;
	border-radius: 5px;
	position: relative;
    margin-bottom: 10px;
}
p.error_text {
	margin-bottom: 0rem;
}

.notify {
	background: #D9F6FF;
	background: rgba(81, 81, 81, 0.8);
	color: #fff;
	position: fixed;
	padding: 14px 0;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
	top: 0;
	right: 0;
	top: 0;
	z-index: 9999;
}
p.notify_text {
	margin-bottom: 0rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    opacity: 0.9;
    margin-top: 5em;
}

footer a {
    color: var(--dark);
}

footer a:hover{
    color: var(--yellow);
}

footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.5em;
    font-weight: 400;
}

.fa-facebook-f, .fa-pinterest, .fa-instagram{
    display: block;
    padding: 0 0 0 1em;
}

#vertical-line{
    padding: 0 1em 0 1em;
}

@media (max-width: 920px){

    h1{
        font-size: 1.2em;
    }

    .brand img {
        max-height: 40px;
    }

    #nav-bar {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }

    /*Burger menu - Menu On*/
    #menuon{
        background: black;
        color: white;
        padding: 1em 1.5em 0 0;
        position: fixed;
        z-index: 102;
        opacity: 0;
    }

    /*Burger menu - Menu Off*/
    .off{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.60);
        z-index: 99;
    }

    .nav-span{
        display: block;
        width: 1.6em;
        height: 2px;
        background: black;
        margin-bottom: 4px;
        z-index: 101;
    }

    /* Close button (X) for burger menu*/
    #x{
        padding: 0.2em;
        font-size: 2em;
        font-style: normal;
        position: fixed;
        top: 1%;
        right: 4%;
        z-index: 102;
        display: none;
        opacity: 0.9;
    }

    /*Navigation bar*/
    nav {
        background: white;
        position: fixed;
        top: 2%;
        right: 4%;
        padding: 2em;
        z-index: 100;
        display: none;
    }

    /*Links in Navbar*/
    nav a{
        color: var(--dark);
        display: block;
        padding-bottom: 2em;
        min-width: 10em;
        text-decoration: none;
        text-align: center;
        font-size: 1.6em;
    }

    /*to toggle the burger menu*/
    #togglemenu:checked ~ nav{
        display: block;
    }

    /*gray space to turn off burger menu*/
    #togglemenu:checked ~ #menu-off{
        display: block;
    }

    /* X to turn off burger menu*/
    #togglemenu:checked ~ #x{
        display: block;
    }

    #togglemenu:checked ~ .nav-span{
        display: none;
    }

    .breadcrumb-item{
        margin: 0;
    }

    .banner{
        margin: 3em 2em 0 0;
    }

    .simpleStore_getDetail_container {
        width: 100%;
    }

    .simpleCart_shelfItem {
        position: relative;
    }

    .simpleCart_shelfItem .item_name {
        font-size: 1.8rem;
    }

    .simpleStore_getDetail {
        position: inherit;
        display: block;
        margin: 0px;
        margin-bottom: 0px;
    }

    footer{
        display: block;
    }

    footer ul{
        font-size: 1em;
    }

    footer i{
        font-size: 1.5em;
    }
}

@media (max-width: 620px) {

   .simpleStore_detailView .item_thumb {
        margin-bottom: 10px;
        display: block;
        width: 100%;
        height: auto;
        padding-top: 1em;
    }

    .simpleStore_detailView .item_add {
        position: inherit;
        display: block;
        width: 100%;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .cart_info {
        position: inherit;
        margin: 0px;
        padding-top: 15px;
        text-align: left;
        border-top: 1px solid #E1E1E1;
    }

    .simpleCart_checkout {
        width: 100%;
    }

    .simpleCart_items {
        font-size: 12px;
    }

    /* Better mobile support for cart */
    .item-decrement, .item-increment, .item-total {
        display: none !important;
    }
}
